
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color:burlywood !important;
    }
</style>
<h2>Error</h2>
<div class="text-center bg-warning">
    <h1>Oops!!!</h1>
    <h3>Something went wrong!...</h3>
    <h4>Please try again</h4>
</div>