
@{
    ViewBag.Title = "About";
}


<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Unlearn, Relearn</h1>
            <h3>Are you a DotNet Developer? Learn, Share your knowledge and help others to build their careers. </h3>
            <p class="lead">Join the world's Largest Developer Community.</p>
        </div>

    </div>
</div>
@*<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Public Q&A</h5>
                <p class="card-text">Get answers to more than 16.5 million questions and give back by sharing your knowledge with others. Sign up for an account.</p>
                <a href="#" class="btn btn-primary">Browse Questions</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Private Q&A</h5>
                <p class="card-text">Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship Q&A engine.</p>
                <a href="#" class="btn btn-primary">Try for Free</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Knowledge Sharing Offices</div>
            <img class="card-img-top" src="~/Images/map.svg" alt="Office"/>
            <div class="card-body">
                Stack Overflow currently employs more than 250 people in its head offices in New York, 
                London and Munich as well as remote workers from Israel, Brazil, Japan, Germany, Slovenia,
                Spain, Poland, France, Russia, Canada, the UK, and the United States.
                The company is committed to diversity in the workplace and is currently hiring.
            </div>
        </div>
    </div>
</div>*@
