@model KnowledgeSharing.ViewModels.EditUserDetailsViewModel

@{
    ViewBag.Title = "Change Profile";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Change Profile</h1>
        <form action="/Account/Changeprofile" method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="txtName">Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Enter name" name="Name" required="required" onchange="validateUserName()" />
                    <span id="userName">
                    </span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtEmail">Email</label>
                    @Html.HiddenFor(temp => temp.Email)
                    <span>@Model.Email</span>
                </div>


                <div class="form-group col-sm-6">
                    <label for="txtMobile">Mobile</label>
                    <input type="text" class="form-control" id="MobileNumber" placeholder="Mobile" name="Mobile" required="required" maxlength="10" onchange="validateMobileNumber()" />
                    <span id="mobileNumber">
                    </span>
                </div>
            </div>

            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>



